*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
}
.sky{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(background.jpg);
    position: absolute;
}
.trees{
    height: 100vh;
width: 100%;
background-image: url(trees.png);
background-size: cover;
position: absolute;
top: -114px;
}
.track{
    height: 60vh;

    width: 800vw;

    background-image: url(track.png);

    background-repeat: repeat-x; 

    position: absolute;

    top: 70vh;

    animation: carMove linear .60s infinite;

}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 79px;
    bottom: 21vh;
    animation: shake linear .6s infinite;
}
.wheel1 img{
    width: 77px;
position: relative;
top: 38px;
left: 42px;
animation: wheelRotation linear .50s infinite;
}
.wheel2 img{
    width: 77px;
    position: relative;
    top: -43px;
    left: 233px;
    animation: wheelRotation linear .50s infinite;
}
@keyframes wheelRotation
{
    100%{
        transform:rotate(360deg);
    }
}
@keyframes carMove
{
    100%{
        transform:translatex(-500vw);
    }
}
@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}